<footer class="footer bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <h3>About us</h3>
                <p>
                    We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
                </p>
                <p>© Company Inc.</p>
            </div>
            <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h3>Contact</h3>
                <p><i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>
                <p><i class="fas fa-envelope"></i> Email:hello@domain.com</a>
                </p>
                <p><i class="fab fa-skype"></i> Skype: you_online</p>
            </div>
            <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="row">
                    <div class="col">
                        <h3>Links</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="scroll-link" href="#top-content">Home</a></p>
                        <p><a href="#">Features</a></p>
                        <p><a href="#">How it works</a></p>
                        <p><a href="#">Our clients</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a href="#">Plans &amp; pricing</a></p>
                        <p><a href="#">Affiliates</a></p>
                        <p><a href="#">Terms</a></p>
                    </div>
                </div>
            </div>
        </div>
        <hr style="max-width: 90%; border-width: 0.3rem; border-color: antiquewhite;" />
    </div>
</footer>
<div class="footer-copyright py-3 text-center text-white">
    <p>© 2020 Copyright: <a href="#" class="text-warning">JNG-company</a></p>
</div>


<style>
    .footer-copyright {
        background-color: #38404e;
    }
</style>